__pycache__/
*.py[cod]
*.pyo
*.pyd

*.so

venv/
.env/
.venv/

.vscode/

.pytest_cache/

.mypy_cache/

*.sqlite3
.cache.sqlite

htmlcov/
.coverage
coverage.xml
*.cover

*.log

pip-log.txt
pip-delete-this-directory.txt

.DS_Store
Thumbs.db

**/__pycache__/
*.pyc

.idea/

*.tmp
*.swp

*.map

node_modules/
